@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  animation: gradientAnimation 15s ease infinite;
  background: linear-gradient(270deg, #a2c2e6, #e8f5e9);
  background-size: 400% 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.bg-gradient {
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}
